<div id="<%= dom_id story_update %>">
  <strong><%= story_update.title %></strong>
  <div class="small text-muted">
    <%= time_ago(story_update.created_at) %> <%= t("posted_by", name: story_update.user.name) %>
  </div>
  <p class="mt-2">
    <%= story_update.description %>
  </p>
</div>
