<%= turbo_frame_tag dom_id(story_update) do %>
  <div class="py-4 <%= 'border-top' if border_top %>">
    <strong><%= story_update.title %></strong>
    <div class="small text-muted">
      <%= time_ago(story_update.created_at) %> <%= t("posted_by", name: story_update.user.name) %>
    </div>
    <p class="mt-2">
      <%= display_rich_text(story_update.description) %>
    </p>
    <div class="d-flex">
      <% if can_edit?(story_update) %>
        <%= link_to t("common.edit"), edit_story_update_path(story_update), :class => "btn btn-sm btn-link px-0" %>&nbsp;
      <% end %>
      <% if can_destroy?(story_update) %>
        <%= button_to t("common.delete"), story_update, method: :delete, :class => "btn btn-sm btn-link text-danger", form: { data: { turbo_method: :delete, turbo_confirm: t('common.are_you_sure') } }  %>
      <% end %>
    </div>
  </div>
<% end %>
