<% content_for :title, @story_update.title %>

<h1><%= yield(:title) %></h1>

<div class="row flex-lg-row flex-column-reverse">
  <div class="col-lg-9">
    <%= turbo_frame_tag dom_id(@story_update) do %>
      <div class="py-4 border-top">
        <%= render "form", story_update: @story_update %>
      </div>
    <% end %>
  </div>
  <div class="col-lg-3">
    <div class="px-lg-3 my-lg-0 my-3">
      <div class="mb-4"><%= t('.edit_story_in') %></div>

      <% I18n.available_locales.map do |locale| %>
        <div class="my-2 <%= @story_update.missing_translations.include?(locale) ? 'text-warning' : 'text-success' %>">
          <span><%= t("locales.#{locale}") %></span>
          <% if I18n.locale != locale %>
            <%= link_to t('common.edit').downcase, edit_story_update_path(@story_update, lang: locale) %>
          <% else %>
            <i class="text-muted">(<%= t('.currently_editing') %>)</i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
