<nav class="navbar navbar-expand-lg border-bottom mb-4">
  <div class="container py-2">
    <img height="24" src="/logo.png" alt="Social Change Stories logo" class="px-2" />
    <%= link_to t('application_name'), root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="menu">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            <%= t("locales.#{I18n.locale}") %>
          </a>
          <ul class="dropdown-menu">
            <% I18n.available_locales.each do |locale| %>
              <li><%= link_to t("locales.#{locale}"), root_path(locale), class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to t('nav.list_stories'), stories_path, :class => "nav-link" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to t('nav.add_stories'), new_story_path, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('users.invite'), new_user_invitation_path, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('users.profile'), edit_user_registration_path, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('users.logout'), destroy_user_session_path, data: { turbo_method: :delete }, :class => "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
              <%= link_to t('users.signup'), new_registration_path(:user), :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('users.login'), new_user_session_path, :class => "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
