<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label :name, :class => "form-label" %>
    <%= f.text_field :name, autofocus: true, :class => "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :email, :class => "form-label" %>
    <%= f.email_field :email, autofocus: true, :class => "form-control" %>
  </div>

  <% if resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="mb-3">
    <%= f.label :password, :class => "form-label" %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, :class => "form-control" %>
    <% if @minimum_password_length %>
      <div class="form-text"><%= @minimum_password_length %> characters minimum</div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, :class => "form-label" %>
    <%= f.password_field :password_confirmation, :class => "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :current_password, :class => "form-label" %> <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, :class => "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", :class => "btn btn-primary", data: { turbo: false } %>
  </div>
<% end %>

<h3 class="mt-5">Cancel my account</h3>

<div class="mb-3">
  <p>Unhappy?</p>
  <%= link_to "Cancel my account", registration_path(resource_name), :class => "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>
<%= link_to "Back", :back %>
