<% content_for :title, t('application_name') %>

<div class="row">
  <div class="col-lg-7 mx-auto">
    <section class="my-5 py-5 text-center">
      <h1><%= yield(:title) %></h1>
      <p><%= t('.intro_content') %></p>
      <%= link_to t('.explore'), stories_path, class: "btn btn-primary" %>
    </section>
  </div>

  <div class="col-lg-9 mx-auto">
    <section class="my-5">
      <h2 class="text-center">
        <%= t('.about') %>
      </h2>
      <p><%= t('.about_content_html') %></p>
      <% unless user_signed_in? %>
        <div class="text-center">
          <%= link_to t('.signup'), new_registration_path(:user), class: "btn btn-outline-primary" %>
        </div>
      <% end %>
    </section>
  </div>
</div>
