<% story.contributions.each do |c| %>
  <%= turbo_frame_tag dom_id(c) do %>
    <div class="d-flex align-items-center gap-2">
      <div>
        <% if c.user.confirmed? %>
          <%= c.user.name %>
          <%= render "users/you", user: c.user %>
        <% elsif can_edit?(story) %>
          <span class="text-body-tertiary"><%= c.user.email %> (<%= t('.invited') %>)</span>
        <% end %>
      </div>

      <% if can_edit?(story) %>
        <%= link_to story_contribution_path(story, c), method: :delete, data: {
            turbo_method: :delete,
            turbo_confirm: t('common.are_you_sure'),
            bs_toggle: (c.user.id == current_user.id ? 'tooltip' : nil),
            bs_title: (c.user.id == current_user.id ? t('.leave_story') : nil)
          } do %>
          <i class="bi bi-x-circle text-danger"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
