<%= form_with(model: story, data: { controller: "story-form" }) do |form| %>
  <% if story.errors.any? %>
    <div class="alert alert-danger">
      <ul class="mb-0">
        <% story.errors.each do |error| %>
          <li class="pl-2"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, :class => "form-label" %>
    <%= form.text_field :title, required: true, :class => "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, :class => "form-label" %>
    <%= form.trix_editor :description, required: true, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :category, :class => "form-label" %>
    <%= form.collection_select(:category_id, Category.all.to_a << OpenStruct.new(id: -1, name: t('.category_other')), :id, :name,
      { :include_blank => t("common.please_select") },
      {
        :class => "form-control",
        required: true,
        data: { action: "change->story-form#isNewCategory", story_form_target: "category" }
      })
    %>
    <%= form.text_field :new_category, :class => "form-control d-none mt-2", data: { story_form_target: "other" } %>
  </div>

  <div class="mb-3">
    <%= form.label :country, :class => "form-label" %>
    <%= form.country_select :country, { :include_blank => t("common.please_select") }, { :class => "form-control" } %>
  </div>

  <div class="mb-3">
    <%= form.label :documents, :class => "form-label" %>
    <%= form.file_field :documents, multiple: true, direct_upload: true, :class => "form-control", :accept => ".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf" %>
  </div>

  <div class="my-5">
    <div class="d-flex flex-wrap">
      <% story.documents.filter { |x| x.representable? }.each do |file| %>
        <div id="<%= dom_id(file) %>_container">
          <%= turbo_frame_tag dom_id(file) do %>
            <div class="m-2">
              <%= link_to url_for(file), target: "_blank" do %>
                <%= image_tag file.representation(resize_to_limit: [300, 200]), class: "rounded border" %>
              <% end %>
            </div>
            <%= link_to t("common.remove"), remove_documents_stories_path(file), data: { turbo_method: :delete, turbo_confirm: t('common.are_you_sure') }, class: "text-danger mx-2" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <ul class="mt-5 list-unstyled">
      <% story.documents.filter { |x| !x.representable? }.each do |file| %>
        <li id="<%= dom_id(file) %>_container">
          <%= turbo_frame_tag dom_id(file) do %>
            <i class="bi bi-paperclip"></i> <%= link_to file.filename, url_for(file), target: "_blank" %> &nbsp;
            <%= link_to t("common.remove"), remove_documents_stories_path(file), data: { turbo_method: :delete, turbo_confirm: t('common.are_you_sure') }, class: "text-danger mx-2" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="mb-3">
    <%= form.label :outcomes, :class => "form-label" %>
    <%= form.trix_editor :outcomes, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :source, :class => "form-label" %>
    <%= form.trix_editor :source, class: "form-control" %>
  </div>

  <div>
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
