<%= form_with(model: story) do |form| %>
  <% if story.errors.any? %>
    <div class="alert alert-danger">
      <ul class="mb-0">
        <% story.errors.each do |error| %>
          <li class="pl-2"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, :class => "form-label" %>
    <%= form.text_field :title, required: true, :class => "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, :class => "form-label" %>
    <%= form.trix_editor :description, required: true, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :country, :class => "form-label" %>
    <%= form.country_select :country, { include_blank: true }, { :class => "form-control" } %>
  </div>

  <div class="mb-3">
    <%= form.label :documents, :class => "form-label" %>
    <%= form.file_field :documents, multiple: true, direct_upload: true, :class => "form-control" %>
  </div>

  <div class="d-flex mb-5">
    <% story.documents.each do |file| %>
      <%= render "document", file: file %>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :outcomes, :class => "form-label" %>
    <%= form.trix_editor :outcomes, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :source, :class => "form-label" %>
    <%= form.trix_editor :source, class: "form-control" %>
  </div>

  <div>
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
