<div id="<%= dom_id story %>" class="py-3 border-bottom">
  <h2><%= link_to story.title, story, :class => "text-reset text-decoration-none" %></h2>
  <p>
    <%= story.description.truncate(400) %>
  </p>
  <div class="small text-muted">
    <%= time_ago(story.created_at) %> <%= t("posted_by", name: story.user.name) %>
  </div>
</div>
