<div id="<%= dom_id story %>" class="py-4 <%= 'border-top' if index != 0 %>">
  <div class="h4"><%= link_to story.title, story, :class => "text-reset text-decoration-none" %></div>
  <div class="small text-muted mb-2">
    <%= time_ago(story.created_at) %> <%= t("posted_by", name: story.user.name) %>
  </div>
  <p class="mb-1">
    <%= sanitize(story.description.truncate(400), tags: []) %>
  </p>
  <div class="text-muted">
    <% if story.country %>
      <i class="bi bi-geo-alt"></i> <%= story.country_name %>
    <% end %>
    <% if story.story_updates.length > 0 %>
      <span class="mx-2">
        <i class="bi bi-megaphone"></i> <%= story.story_updates.length %>
      </span>
    <% end %>
  </div>
</div>
