<div id="<%= dom_id story %>" class="py-4 <%= 'border-top' if index != 0 %>">
  <div class="h4"><%= link_to story.title(fallback: I18n.available_locales), story, class: "text-reset text-decoration-none" %></div>
  <div class="small text-muted mb-2">
    <%= time_ago(story.created_at) %> <%= t("posted_by", name: story.user.name) %>
  </div>
  <p class="mb-1">
    <%= sanitize(story.description(fallback: I18n.available_locales).truncate(400), tags: []) %>
  </p>
  <div class="text-body-tertiary mt-2">
    <% if story.country %>
      <span>
        <i class="bi bi-geo-alt"></i> <%= story.country_name %><span class="mx-1"></span>
      </span>
    <% end %>
    <% if story.category.present? %>
      <span class="mx-2">
        <i class="bi bi-tag"></i><span class="mx-1"><%= story.category.name %></span>
      </span>
    <% end %>
    <% if story.story_updates.length > 0 %>
      <span class="mx-2">
        <i class="bi bi-megaphone"></i> <%= story.story_updates.length %>
      </span>
    <% end %>
    <% if story.translated_in.length > 1 %>
      <span class="mx-2">
        <i class="bi bi-translate"></i> <%= story.translated_in.length %>
      </span>
    <% end %>
  </div>
</div>
