<div id="<%= dom_id story %>">
  <%= render "includes/story_nav", story: %>

  <div class="row flex-lg-row flex-column-reverse">
    <div class="col-lg-9">
      <section class="mt-2 mb-4">
        <p>
          <%= display_rich_text(story.description) %>
        </p>
      </section>

      <section class="my-4">
        <div class="d-flex flex-wrap">
          <% story.documents.filter { |x| x.representable? }.each do |file| %>
            <div class="m-2">
              <%= link_to url_for(file), target: "_blank" do %>
                <%= image_tag file.representation(resize_to_limit: [300, 200]), class: "rounded border" %>
              <% end %>
            </div>
          <% end %>
        </div>
        <ul class="my-4 list-unstyled">
          <% story.documents.filter { |x| !x.representable? }.each do |file| %>
            <li><i class="bi bi-paperclip"></i> <%= link_to file.filename, url_for(file), target: "_blank" %></li>
          <% end %>
        </ul>
      </section>

      <% if story.outcomes %>
        <section class="my-4">
          <h2><%= t("stories.show.outcomes") %></h2>
          <p>
            <%= display_rich_text(story.outcomes) %>
          </p>
        </section>
      <% end %>

      <% if story.source %>
        <section class="my-4">
          <h2><%= t("stories.show.source") %></h2>
          <p>
            <%= display_rich_text(story.source) %>
          </p>
        </section>
      <% end %>

      <section class="my-5">
        <h2>
          <%= t("stories.show.story_updates") %>
          <%= link_to t(".new_story_update"), new_story_update_path(story),
            :class => "btn btn-sm btn-outline-primary", data: { turbo_frame: "modal" } if can_add_story_update?(story) %>
        </h2>
        <%= turbo_frame_tag :story_updates do %>
          <% story.story_updates.each_with_index do |story_update, idx| %>
            <%= render "story_updates/list_item", story_update:, border_top: idx != 0 %>
          <% end %>
        <% end %>
      </section>
    </div>
    <div class="col-lg-3 mt-lg-0 mt-3">
      <%= render "sidebar", story:  %>
    </div>
  </div>
</div>
