<div id="<%= dom_id story %>">
  <h1>
    <%= story.title %>
  </h1>
  <div class="small text-muted">
    <%= time_ago(story.created_at) %> <%= t("posted_by", name: story.user.name) %>
  </div>

  <section class="my-4">
    <p>
      <%= story.description %>
    </p>
  </section>

  <% if story.outcomes %>
    <section class="my-4">
      <h2><%= t("stories.show.outcomes") %></h2>
      <p>
        <%= story.outcomes %>
      </p>
    </section>
  <% end %>

  <% if story.source %>
    <section class="my-4">
      <h2><%= t("stories.show.source") %></h2>
      <p>
        <%= story.source %>
      </p>
    </section>
  <% end %>

  <% if story.story_updates.length > 0 %>
    <section class="my-5">
      <h2>
        <%= t("stories.show.story_updates") %>
        <%= link_to t(".new_story_update"), new_story_update_path(story), :class => "btn btn-sm btn-outline-primary" %>
      </h2>
      <% story.story_updates.each_with_index do |story_update, idx| %>
        <div class="px-5 py-4 <%= 'border-bottom' unless idx == story.story_updates.length - 1 %>">
          <%= render "story_updates/list_item", story_update: %>
        </div>
      <% end %>
    </section>
  <% end %>
</div>
