<ul class="mobility-tabs">
  <% I18n.available_locales.each do |locale| %>
    <li class="mobility-tab-item mobility-tab-item-<%= locale %> <%= 'active' if I18n.locale == locale  %>">
      <a class="mobility-tab-item-link" data-locale="<%= locale %>" href="#"><%= locale %></a>
    </li>
  <% end %>
</ul>

<div class="mobility-fields">
  <% active_locale = I18n.locale %>
  <% I18n.available_locales.each do |locale| %>
    <% I18n.with_locale(locale) do %>
      <div class="mobility-field-item mobility-field-item-<%= locale %> <%= 'active' if active_locale == locale  %>">
        <%= field.resource.send(field.attribute.to_sym) %>
      </div>
    <% end %>
  <% end %>
</div>
