<% content_for(:title, t('users.change_password')) %>

<h2><%= yield(:title) %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="mb-3">
    <%= f.label :password, t('users.new_password'), class: "form-label" %>
    <%= f.password_field :password, autofocus: true, class: "form-control", required: true, minlength: @minimum_password_length %>
    <% if @minimum_password_length %>
      <div class="form-text">(<%= t('users.minimum_password_characters', count: @minimum_password_length) %>)</div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, t('users.confirm_new_password'), class: "form-label" %>
    <%= f.password_field :password_confirmation, class: "form-control", required: true, minlength: @minimum_password_length %>
  </div>

  <div class="actions">
    <%= f.submit t('users.change_password'), class: "btn btn-primary", data: { turbo: false } %>
  </div>
<% end %>

<br>
<%= render "users/shared/links" %>
