<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="h-100">
  <head>
    <title><%= yield(:title) %> | <%= t('application_name') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- The page supports both dark and light color schemes,
         and the page author prefers / default is light. -->
    <meta name="color-scheme" content="light dark">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
      <%= render "includes/header" %>
      <div class="container mt-3">
        <%= render "includes/flash" %>
        <%= yield %>
      </div>
    </main>
    <%= render "includes/footer" %>
  </body>
</html>
