<!DOCTYPE html>
<html>
  <head>
    <title>Socialchange</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- The page supports both dark and light color schemes,
         and the page author prefers / default is light. -->
    <meta name="color-scheme" content="light dark">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "includes/header" %>
    <div class="container">
      <%= render "includes/flash" %>
      <%= yield %>
    </div>
  </body>
</html>
